.pegion{
    justify-content:space-around;
    border-style:solid;
    padding: 1cm;
    background-color: rgb(49, 218, 195);
    font-style:oblique;
    border-radius: 2cm;
    border-width: 1cm;
    
}
.cicada{
    justify-content: space-around;
    border-style:solid;
    padding: 1cm;
    background-color: rgb(49, 218, 195);
    font-style:oblique;
    border-radius: 2cm;
    border-width: 1cm;

}